body{
	background-image:url("background.png");
	background-size: cover;
    background-position: center;
}

ul {
	list-style-type:none;
	margin:auto;
}


.posts
{
	border:solid 2px rgba(0,0,0,.07);
	position:relative;
	background-color: rgba(0, 0, 0, 0.8);
	max-width:90%;	
}

#title
{
	color:#ffffff;
	text-align: center;
}



#notBody{
	margin: 0 auto;
	max-width:90%;
	display:block;
	color:#ffffff;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 75%;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width:90%;
}

#dropdown{
	
    position: fixed;
    top: 30px;
    left: 30px;
	display:inline-block;
	width:150px;
	height:150px;
	border-radius:50%;
}

#hiddenMenu{
	display: none;
    position: relative;
background-color: rgba(0, 0, 0, 0.8);
}


#dropdown:hover #hiddenMenu{
	display:inline-block;
}

#help{position:relative;
top: 30px;
left:900px;
 background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
#hidden{
        display: none;
    position: relative;
}


#help:hover #hidden{
        display:inline-block;
}


a:link{
color:#0ae4d6;
	text-decoration: none;
}

a:visited {
color:#ffffff;
	text-decoration: none;
}

a:hover {
color:#0ae4d6;
	text-decoration: underline;
}



