<!doctype html>

<body>
<div>
<div class ="center">		
<div id="notBody">
<div id="notBody">
<div class = "posts">
<p class = "center">
	 <h1 class = "center">UFO SIGHTINGS</h1>
	<div class = "center"> All major sightings of ufos are recorded on this site</div>    
 </p>
		<form action="" method="POST" name="form" class = "center">
			<label for="name">Search:</label>
			<input type="text" name="name" id="name"/>
			<input type="submit" name="submit" id="submit"/>
	</div>
</div></div>
	</body>
	<div id="dropdown">
	<div id="logo"><img src="{{image}}"style="width:120px;height:120px;"/></div>
	<div id="hiddenMenu">
	<ul>
		<li id="write"><h3><a href="/home">Home</a></h3> </li>
		<li id="delete"><h3><a href="/year">Years</a></h3> </li>
		<li id="edit2"><h3><a href="/country">Countries</a></h3> </li>
		 <li id="edit2"><h3><a href="/all">All</a></h3> </li>
		 <li id="edit2"><h3><a href="/upload">Upload</a></h3> </li>
  {% if not session.logged_in  %}
                         <li id="edit2"><h3><a href="/login">Login</a></h3> </li>
                         <li id="edit2"><h3><a href="/register">Register</a></h3> </li>
                        {% else %}
                                 <li id="edit2"><h3><a href="/logout">Log Out</a></h3> </li>
                {% endif %}

</ul>
	</div>
	</div>
</html> 
	<link rel = "stylesheet" type="text/css" href="{{csssheet}}" >

</html>
