<!doctype html>

<body>
<div>
<div class ="center">		
<div id="notBody">
<div id="notBody">
<div class = "posts">
<p class = "center">
	 <h1 class = "center">Conspiracy Nuts</h1>
	<div class = "center">Voice your conspiracies and debunk others</div>    
 </p>
		<form action="" method="POST" name="form" class = "center">
			<label for="name">Search:</label>
			<input type="text" name="name" id="name"/>
			<input type="submit" name="submit" id="submit"/>
		        <h4><a href="/help">Help</a></h4>
</div>
	
</div>
</div></div>

	<div id ="notBody">
	{% for result in results %}		
		<div id="notBody">
		<div class = "posts">
		 <h1 class = "center">{{result["name"]}}</h1>
		{% if result["img"] != '' %}
			<div><img src="{{result["img"]}}"style="width:380px;height:240px;"/></div>
		{% endif %}
		<div>Subject: <a href='/subject/?subject={{result["subject"]}}'>{{result["subject"]}}</a></div>
		<div><a href='/user/?user={{result["author"]}}'>{{result["author"]}}</a></div>
		{% autoescape false %}
		<div>{{result["description"]}}</div>
		{% endautoescape %}
		</div>
		<div class = "posts">
				{% for comment in result['comments'] %}
			<div class = "posts">	
			<div><a href='/user/?user={{comment["author"]}}'>{{comment["author"]}}</a></div>
			{% autoescape false %}
			<div>{{comment["description"]}}</div>
			{% endautoescape %}
			</div>
		{% endfor %}
		{% if session.logged_in  %}
			<div><a href='/comment/?comment={{result["id"]}}'>Comment</a></div>
		{% endif %}
		{% if user['username'] == result['author']  %}
			<div><a href='/edit/?edit={{result["id"]}}'>Edit</a>   <a href='/delete/?delete={{result["id"]}}'>Delete</a></div>
		{% endif %}
		</div>
		</div>
	{% endfor %}
</div>

	</body>
	<div id="dropdown">
	{% if not session.logged_in  %}
			<div id="logo"><img src="{{image}}"style="width:120px;height:120px;"/></div>
                        {% else %}
                                 	{% if user["Ppic"] != '' %}
			<div><img src="{{user["Ppic"]}}"style="width:150px;height:150px; border-radius:50%;"/></div>
		{% else %}
			<div id="logo"><img src="{{image}}"style="width:120px;height:120px;"/></div>
		{% endif %}
                {% endif %}

	<div id="hiddenMenu">
	<ul>
<li id="write"><h3><a href="/home">Home</a></h3> </li>
		<li id="delete"><h3><a href="/subject">Subjects</a></h3> </li>
		<li id="edit2"><h3><a href="/following">Following</a></h3> </li>
		 <li id="edit2"><h3><a href="/all">All</a></h3> </li>
		 <li id="edit2"><h3><a href="/upload">Post</a></h3> </li>
  {% if not session.logged_in  %}
                         <li id="edit2"><h3><a href="/login">Login</a></h3> </li>
                         <li id="edit2"><h3><a href="/register">Register</a></h3> </li>
                        {% else %}
								 <li id = "edit2"><h3><a href='/user/?user={{user["username"]}}'>My Profile</a></h3></li>
                                 <li id="edit2"><h3><a href="/logout">Log Out</a></h3> </li>
                {% endif %}

</ul>
	</div>
	</div>


</html> 
	<link rel = "stylesheet" type="text/css" href="{{csssheet}}" >

</html>
